@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alef:wght@400;700&display=swap');

html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
    margin: 0;

    font-family: "Alef", sans-serif;
    position: absolute;
    top: 0;

    display: flex;

    background-color: #fdfdfd;
}

a {
    color: #9a2414;
}

.material-symbols-rounded {
  font-variation-settings:
  'FILL' 0
}

.material-symbols-rounded.activated {
  font-variation-settings:
  'FILL' 1
}

.prevChapter, .nextChapter {
    border-radius: 50%;
    border: none;
    background-color: #ffffff;
    color: #333333;
    aspect-ratio: 1;
    width: 40px;
    box-shadow: 0 4px 8px 0 #00000033, 0 6px 20px 0 #00000030;

    z-index: 1;
    position: fixed;
    bottom: 100px;

    font-size: large;

    cursor: pointer;
    padding: 5px;
}

.prevChapter {
    right: 10px;
}

.prevChapter img {
    transform: rotate(-90deg);
    filter: invert(1);
    width: 15px;
}

.nextChapter {
    left: 10px;
}

.nextChapter img {
    transform: rotate(90deg);
    filter: invert(1);
    width: 15px;
}

.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    transition: all 0.5s ease-in-out;
}

.today-title {
    font-size: 1.5em;
    font-weight: bold;
    top: 10px;
    right: 10px;
    position: absolute;
    margin: 0px;
    border-bottom: solid 3px #9a2414;
}

.top-nav-bar {
    width: 100%;
    height: 60px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px 0 #0000001a;
    display: flex;
    align-items: center;
    justify-content: left;
    
    position: sticky;
    top: 0;
    z-index: 20;
}

.streak-container {
    display: flex;
    align-items: center;
}

.greeting-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.parashat-hashavua-container {
    
    
    
}

.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin-top: 20px;
    background-color: #f7f3f2;
    width: 95%;
    top: 100px;
    height: fit-content;
    border-radius: 5px;

  box-shadow: #6f6f6f27 0 0px 10px 0px;
}

.home-container > .title {
    margin: 0;
    font-size: 1.2em;
    font-weight: bold;
    color: #333;
    text-align: right;
    width: 95%;
}

.home-container > .home-text {
    margin: 0;
    font-size: 1em;
    font-weight: normal;
    color: #555;
    text-align: right;
    width: 95%;
    margin-bottom: 10px;
}

.home img {
    border-radius: 10px;
}

.chapterContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
    position: relative;

    display: none;

    transition: all 0.5s ease-in-out;
}

.chapterTitle {
    width: fit-content;
    background-color: #eeeef2;
    border-radius: 50px;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
}

.chapterHeader {
    display: flex;
    background-color: #ffffff;
    width: 100%;
    top: 0;
    position: fixed;
    border-bottom: solid 1px #eeeeee;

    height: fit-content;
}

.bookList {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-weight: 200;
}

.bookList details > summary {
  list-style: none;
}
.bookList details > summary::-webkit-details-marker {
  display: none;
}

.bookList li {
    padding: 10px;
    border-bottom: solid 1px #eeeeee;
    cursor: pointer;
}

.booksList {
    margin: 10px;
    padding: 0;
}

.booksList h3 {
    text-align: center;
}


.booksContainer {
    direction: rtl;
    text-align: right;

    display: flex;
    justify-content: center;
    
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: #FAFAFA;
    
    height: 90%;
    transform: translateY(100%);

    box-shadow: 0 0 10px 0 #0000001a;
    border-radius: 15px 15px 0 0;

    z-index: 10;

    display: block;
    transition: transform 0.5s ease-in-out;

    overflow-y: auto;
}

.booksContainer.show {
    transform: translateY(0);
}

.chapterText {
    margin-top: 50px;
    font-size: 200%;
}

.verse-number {
    font-size: 50%;
    font-weight: 200;
}

.chapters {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
    gap: 5px;
}

.chapterItem {
    background-color: #ffffff;
    border-radius: 10px;
    aspect-ratio: 1;
    text-align: center;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 1px 2px 0 #00000033;
}

.settingsCloseBtn {
    position: fixed;
    margin-top: 10px;
    left: 10px;
    text-decoration: none;
    margin-bottom: 10px;
    cursor: pointer;
    top: 0;
}

.navBar {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 90px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px 0 #0000001a;
    display: flex;
    align-items: center;
    
    z-index: 20;
    justify-content: space-around;

    border: solid 1px #eeeeee;
}

.navBar .material-symbols-outlined {
    font-size: 30px;
}

.navBar .navItem {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    font-weight: bold;
}


.pwa-alert {
    position: fixed;
    bottom: 20px;
    color: white;
    padding: 10px;
    z-index: 1000;

    width: 90%;
    height: 50px;
    border-radius: 10px;
    border: solid 2px #26231a;

    background: #000000a6;
    box-shadow: 0 4px 30px #0000001a;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);

    display: flex;
    justify-content: space-between;
    align-items: center;

    cursor: pointer;

    font-family: 'Inter', sans-serif;
}

.pwa-alert p {
    margin: 0;
    padding: 0;
}

.pwa-alert button {
    background: #00000000;
    color: #ffffff;
    border: none;
    height: 10px;
    width: 10px;
    cursor: pointer;
    border-radius: 50%;
    padding: 15px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.pwa-alert .shareIcon {
    border-radius: 3px;
    width: 20px;
    height: 20px;
    transform: translateY(5px);
}

.pwa-alert .xIcon {
    width: 20px;
    height: 20px;
    filter: invert(1);
}