.bookList {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-weight: 200;
}

.bookList details > summary {
  list-style: none;
}
.bookList details > summary::-webkit-details-marker {
  display: none;
}

.bookList li {
    padding: 10px;
    border-bottom: solid 1px #eeeeee;
    cursor: pointer;
}

.booksList {
    margin: 10px;
    padding: 0;
}

.booksList h3 {
    text-align: center;
}

.booksContainer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;

  height: 90%;
  background: white;
  border-radius: 16px 16px 0 0;

  transform: translateY(100%);
  transition: transform 0.35s ease;

  z-index: 1000;
  overflow-y: auto;

  box-shadow: 0 0 10px 0 #0000001a;
}

.booksContainer.open {
  transform: translateY(0);
}

.booksContainer.show {
    transform: translateY(0);
}

.chapters {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
    gap: 5px;
}

.chapterItem {
    background-color: #ffffff;
    border-radius: 10px;
    aspect-ratio: 1;
    text-align: center;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 1px 2px 0 #00000033;
}

.settingsCloseBtn {
    position: fixed;
    margin-top: 10px;
    left: 10px;
    text-decoration: none;
    margin-bottom: 10px;
    cursor: pointer;
    top: 0;
}