.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    transition: all 0.5s ease-in-out;
}

.today-title {
    font-size: 1.5em;
    font-weight: bold;
    top: 10px;
    right: 10px;
    position: absolute;
    margin: 0px;
    border-bottom: solid 3px #9a2414;
}

.greeting-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin-top: 20px;
    background-color: #f7f3f2;
    width: 95%;
    top: 100px;
    height: fit-content;
    border-radius: 5px;

  box-shadow: #6f6f6f27 0 0px 10px 0px;
}

.credits {
    font-size:12px;
    text-align:center;
}