.prevChapter, .nextChapter {
    border-radius: 50%;
    border: none;
    background-color: #ffffff;
    color: #333333;
    aspect-ratio: 1;
    width: 40px;
    box-shadow: 0 4px 8px 0 #00000033, 0 6px 20px 0 #00000030;

    z-index: 1;
    position: fixed;
    bottom: 10px;

    font-size: large;

    cursor: pointer;
    padding: 5px;
}

.prevChapter {
    right: 10px;
}

.prevChapter img {
    transform: rotate(-90deg);
    filter: invert(1);
    width: 15px;
}

.nextChapter {
    left: 10px;
}

.nextChapter img {
    transform: rotate(90deg);
    filter: invert(1);
    width: 15px;
}

.chapterContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 20px;
    position: relative;

    transition: all 0.5s ease-in-out;
}

.chapters {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
    gap: 5px;
}

.chapterItem {
    background-color: #ffffff;
    border-radius: 10px;
    aspect-ratio: 1;
    text-align: center;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 1px 2px 0 #00000033;
}